{% extends 'base.html' %} 

{% block title %} About Me {% endblock %} 


{% block content %}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="valign-wrapper full-card">
                    <div class="card wide">
                        <div class="fullcard-text card-content">
                            <h3 class="grey-text text-darken-3">About Me</h3>
                            <hr>
                            <div class="row">
                                <div class="col s12 m12 l8">
                                    <p class="breathe">
                                        I'm a graduate with a B.S. in Computer Science and Engineering from Daffodil International University.
                                    </p>
                                    <p class="breathe">
                                        Technology has always been a passion of mine and I like to dabble in many different things. I've worked for the Daffodil
                                        International University as a Trainer of Web Development and Web Security.
                                    </p>
                                    <p class="breathe">
                                        I have experience administrating Linux, mac OS, and Windows server and desktop systems. I am also familiar with Java, JavaScript,
                                        Python, C/C++, and SQL (and similar database systems). I'm passionate about technology
                                        and do my best to keep up with all facets of the industry as much as possible, especially
                                        concerning security. For information on what this site uses, check out the
                                        <a href="https://github.com/shamspias" target="_blank">
                                            GitHub page</a>.
                                    </p>

                                    <p class="breathe">
                                        If you have any questions or would like to chat, feel free to email me at
                                        <a href="mailto:shamsuddinpias0@gmail.com">shamsuddinpias0@gmail.com</a>.
                                    </p>
                                </div>
                                <div class="col s12 m12 l4 center">
                                    <img src="http://iampias.com/images/profile.png" width="250px" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}